<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Hotel Data</title>
</head>
<body>
    <h1>Hello, choose a city to see all the hotels attached to it</h1>
    
    <form action="/hotelsfromcity/" method="GET">
        <label for="city">Choose a city : </label>
        <select name="city">
            {% for city in cities %}
                <option>{{ city.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Go">
    </form>
</body>
</html>